<div class="text-danger info text-center"></div>

<table id="tableProduct" class="table table-striped w-100 d-none" data-page-length='10'>
	<thead>
		<tr>
			<th>#</th>
			<th>Продукт</th>
			<th>Компания</th>
			<th class="text-dark" style="cursor:default">.</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="4">
				<div class="d-flex justify-content-center">
					<button class="btn btn-block new">
						<span class="fa fa-plus text-muted mr-2"></span>Добавить
					</button>
				</div>
			</td>
		</tr>    
    </tfoot>
</table>